/*
 * Copyright 2022, Roberto Schiavelli Júnior
 * SPDX-License-Identifier: MIT
 */

.container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  max-width: 768px;

  &--page {
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-top: 3.5rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  &--page-content {
    display: block;
    width: 100%;
    max-width: 60ch;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  &--nav {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem;
    margin: auto;
  }
}
