/*
 * Copyright 2022, Roberto Schiavelli Júnior
 * SPDX-License-Identifier: MIT
 */

.strip-header {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;

  &__data-container {
    box-sizing: border-box;
    flex-grow: 1;
    word-break: normal;

    &__title {
      box-sizing: border-box;
      font-size: 2.25rem;
      line-height: 1.2;
    }
  }

  &__emblem-container {
    position: relative;
    box-sizing: border-box;
    display: block;
    flex-shrink: 0;
    width: 100px;
    margin-top: 0;
    margin-left: 1.5rem;

    &__emblem {
      box-sizing: border-box;
      border-color: white !important;
      border-style: solid !important;
      border-width: 2px !important;
      border-radius: 9999px !important;
      object-fit: cover;
    }
  }
}
