/*
 * Copyright 2022, Roberto Schiavelli Júnior
 * SPDX-License-Identifier: MIT
 */

.section {
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;

  &__header {
    width: 100%;
    margin-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #525252;
    text-underline-offset: 6px;

    @media screen and (min-width: 48em) {
      line-height: 1.2;
    }
  }
}
