/*
 * Copyright 2022, Roberto Schiavelli Júnior
 * SPDX-License-Identifier: MIT
 */


.footer {
    $this: &;
    $transition: 0.3s ease;

    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto 0 0;
    font-size: 0.875rem;
    text-align: left;
    word-wrap: break-word;
    opacity: 0.8;
    transition: $transition;

    &:hover {
        opacity: 1;
    }

    &--dark {
        opacity: 0.4;
    }

    &__cr_container {
        flex-grow: 2;
        cursor: default;
    }

    &__src_container {
        display: inline-flex;
        align-items: center;
        cursor: pointer;

        &__src_logo {
            width: 2rem;
            filter: grayscale(100%);

            transition: $transition;

            &:hover, #{$this}:hover & {
                filter: none;
            }
        }

        @media screen and (max-width: 470px) {
            margin: auto;
        }
    }

    @media screen and (max-width: 470px) {
        text-align: center;
    }
}