/*
 * Copyright 2022, Roberto Schiavelli Júnior
 * SPDX-License-Identifier: MIT
 */

/* SQUEEZE */

@keyframes squeeze {
    0% {
      transform: scaleY(1);
    }
  
    15% {
      transform: scaleY(0.95);
    }
  
    30% {
      transform: scaleY(0.9);
    }
  
    55% {
      transform: scaleY(0.75);
    }
  
    70% {
      transform: scaleY(1.3);
    }
  
    85% {
      transform: scaleY(0.95);
    }
  
    100% {
      transform: scaleY(1);
    }
  }
  
  /* BLINK */
  
  @keyframes blink {
    0% {
      transform: scale(1);
    }
  
    25% {
      transform: scale(0.95);
    }
  
    50% {
      transform: scale(0.97);
    }
  
    75% {
      transform: scale(0.93);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  /* SHAKE */
  
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
  
    15% {
      transform: translateX(-3px);
    }
  
    25% {
      transform: translateX(3px);
    }
  
    45% {
      transform: translateX(-2px);
    }
  
    65% {
      transform: translateX(3px);
    }
  
    85% {
      transform: translateX(-2px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  /* BOUNCE */
  
  @-webkit-keyframes bounce {
    from,
    20%,
    53%,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    40%,
    43% {
      -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
      transform: translate3d(0, -30px, 0) scaleY(1.1);
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    }
  
    70% {
      -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
      transform: translate3d(0, -15px, 0) scaleY(1.05);
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    }
  
    80% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
      transform: translate3d(0, 0, 0) scaleY(0.95);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
      transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
  }
  @keyframes bounce {
    53% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    40%,
    43% {
      -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
      transform: translate3d(0, -10px, 0) scaleY(1.1);
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    }
  
    70% {
      -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
      transform: translate3d(0, -5px, 0) scaleY(1.05);
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    }
  
    80% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
      transform: translate3d(0, 0, 0) scaleY(0.95);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
      transform: translate3d(0, -2px, 0) scaleY(1.02);
    }
  }
  
  /* SHADOW */
  
  @-webkit-keyframes shadow-drop {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
      box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
  
    100% {
      -webkit-box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
      box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
      -webkit-transform: translateZ(50px);
      transform: translateZ(50px);
    }
  }
  @keyframes shadow-drop {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
      box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
  
    100% {
      -webkit-box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
      box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
      -webkit-transform: translateZ(50px);
      transform: translateZ(50px);
    }
  }
  
  /* JELLY */
  @-webkit-keyframes jelly {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jelly {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  