/*
Copyright 2022, Roberto Schiavelli Júnior
SPDX-License-Identifier: MIT
*/

@import 'animations';

@import 'logo';

html {
  height: 100%;
}

body {
  height: inherit;
  min-height: 100%;
}

/* stylelint-disable-next-line selector-id-pattern */
#__next {
  height: 100%;
}