/*
 * Copyright 2022, Roberto Schiavelli Júnior
 * SPDX-License-Identifier: MIT
 */

/* This file is temporary and is considered WIP.
 * It will be furthered replaced with a proper .module.scss file.
 */

 .logo {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: initial;
    max-width: 100%;
    height: initial;
    padding: 0;
    margin: 0;
    overflow: visible !important;
    border: 0;
  }
  
  .logo > span {
    overflow: visible !important;
  }
  
  .logo > span > span {
    overflow: visible !important;
  }